/* Import two fonts from Google api */
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Store colours and fonts for use sitewide */
:root {
    --mainColor: #3C1934;
    --accentColor: #4F3E59;
    --secondaryColor: #AA3619;
    --white: white;
    --coreFont: Montserrat;
    --titleFont: Comfortaa;
}

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Set overall body values */
body {
    background-color: var(--white);
    color: var(--mainColor);
    font-family: var(--coreFont), var(--titleFont), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.75rem;
    line-height: 1.5;

}

/* Set consistent font weights */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.5rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1.5rem;
}
p {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    cursor: pointer;
}

/* Header bar with title, nav and logo options */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background: var(--mainColor);
    color: var(--white);
    font-family: var(--titleFont);
}

.pageTitle {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pageTitle h1 {
    width: 100%;
    padding: 20px;
    background: var(--secondaryColor);
    max-height: 70%;
    display: flex;
    align-items: center;
}

.navBar {
    width: 55%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navBar a {
    color: var(--white);
    font-size: larger;
    padding: 10px;
}

.navBar a:hover {
    background: var(--secondaryColor);
    transition: all 0.5s ease-in-out;
}

#logoImg {
    border-radius: 50%;
    border: 5px solid var(--white);
    margin: 5px; 
    max-height: 100px;
}

/* Add an image outline with transition effect when user hovers over logo */
#logoImg:hover {
    outline: 6px solid var(--secondaryColor);
    outline-offset: -5px;
    transition: all 0.5s ease-in-out;
}

/* Hero leader image */
.hero {
    width: 100%;
    height: 200px;
    background: linear-gradient( /* Create top layer of semi transparent gradient */
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ), 
    url("../images/02-wireframe.png"); /* Add bottom layer of hero image */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

/* Overlaid headline on hero image */
.heroHeadline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* width: 500px; */
    height: 60px;
    padding: 20px;
    background-color: var(--secondaryColor);
    color: var(--white);
}

/* Main grid layout of 5 x 4 */
.gridArea {
    display: grid;
    grid-template: 2fr 2fr 2fr 2fr 1fr / 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "titleAbout displayAbout displayAbout displayAbout"
    "titleWork workDisplayA workDisplayA workDisplayB"
    "titleWork workDisplayA workDisplayA workDisplayB"
    "titleWork workDisplayC workDisplayD workDisplayD"
    "titleContact displayContact displayContact displayContact";
    transition: flex-basis 500ms linear;
}

/* Assign grid areas to grid names */
#titleAbout {
    grid-area: titleAbout;
}
#displayAbout {
    grid-area: displayAbout;
}
#titleWork {
    grid-area: titleWork;
}

/* Set background images with linear gradients */
#workDisplayA {
    grid-area: workDisplayA;
    background: linear-gradient( /* Create top layer of semi transparent gradient */
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ), 
    url("../images/02-portfolio-5.png"); /* Add bottom layer of work display image */
}
#workDisplayB {
    grid-area: workDisplayB;
    background: linear-gradient( /* Create top layer of semi transparent gradient */
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ), 
    url("../images/02-portfolio-1.png"); /* Add bottom layer of work display image */
}
#workDisplayC {
    grid-area: workDisplayC;
    background: linear-gradient( /* Create top layer of semi transparent gradient */
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ), 
    url("../images/02-portfolio-6.png"); /* Add bottom layer of work display image */
}
#workDisplayD {
    grid-area: workDisplayD;
    background: linear-gradient( /* Create top layer of semi transparent gradient */
        rgba(79, 62, 89, 0.45), 
        var(--mainColor)
    ), 
    url("../images/02-portfolio-3.png"); /* Add bottom layer of work display image */
}

#titleContact {
    grid-area: titleContact;
}

#displayContact {
    grid-area: displayContact;
}

/* For making sure the images inside work display are appropriately sized and centered */
#workDisplayA, #workDisplayB, #workDisplayC, #workDisplayD {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Styling for sections of the grid */
.gridWorkDisplay {
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 5px;
    border: 5px solid var(--mainColor);
}

#titleAbout, #titleWork, #titleContact {
    margin: 5px;
    padding: 0 20px 0 0;
    display: flex;
    justify-content: flex-end;
    border-right: 5px solid var(--mainColor);
}

#titleAbout h3, #titleWork h3, #titleContact h3 {
    color: var(--mainColor);
}

#displayAbout, #displayContact {
    border: 5px solid white;
}

.gridWorkDisplay:hover {
    box-shadow: 
        inset 0px 0px 20px var(--secondaryColor), 
        0 0 20px var(--secondaryColor);
}

.workHeadline {
    background: var(--secondaryColor);
    color: var(--white);
    min-width: 240px;
    width: 40%;
    padding: 10px;
}

/* Styling for when user hovers over a work display image.
    Effectively overrides previous setting of linear gradient to give the illusion that the image is lighting up*/
#workDisplayA:hover {
    background: url("../images/02-portfolio-5.png");
}

#workDisplayB:hover {
    background: url("../images/02-portfolio-1.png");
}

#workDisplayC:hover {
    background: url("../images/02-portfolio-6.png");
}

#workDisplayD:hover {
    background: url("../images/02-portfolio-3.png");
}

#workDisplayA:hover, #workDisplayB:hover, #workDisplayC:hover, #workDisplayD:hover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Styling for the contact buttons at the foot of the table */
.contactBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contactBar a {
    color: var(--secondaryColor);
    font-size: larger;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Media queries for adjusting items based on screen size */
@media only screen and (max-width: 750px) {
    .pageTitle {
        display: none;
    }
    .header {
        justify-content: space-between;
    }
    .navBar {
        width: initial;
    }
    .logo {
        padding-right: 50px;
    }
    .gridArea {
        display: initial;
    }
    
    #titleAbout, #titleWork, #titleContact {
        justify-content: flex-start;
        border-right: initial;
        border-bottom: 2px solid var(--mainColor);
    }
    .workHeadline {
        font-size: 20px;
    }
    .gridWorkDisplay {
        /* background-position: center; */
        height: 300px;
    }
    .contactBar {
        align-items: flex-end;
    }
    p{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 550px) {
    .heroHeadline{
        font-size: 18px;
    }
    .gridWorkDisplay {
        height: 200px;
    }
    .contactBar a {
        font-size: 18px;
    }
    .contactBar img {
        height: 40px;
        width: 40px;
    }
    p{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 400px) {
    .navBar a {
        font-size: 16px;
    }
    .heroHeadline{
        font-size: 16px;
    }
    .gridWorkDisplay {
        height: 200px;
    }
    .workHeadline {
        min-width: initial;
        width: 40%;
    }
    .workHeadline h3 {
        font-size: 16px;
    }
    .workHeadline p {
        font-size: 14px;
    }
    .contactBar a {
        font-size: 16px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contactBar img {
        height: 25px;
        width: 25px;
    }
    p{
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 330px) {
    .header {
        height: 70px;
    }
    .navBar a {
        font-size: 14px;
    }
    #logoImg {
        max-height: 70px;
    }
    .workHeadline {
        min-width: initial;
        width: 60%;
    }
    p{
        font-size: 1.4rem;
    }
}